
    body {
      position: relative;
      text-align: center;
      font-family: helvetica, sans-serif;
      width: 350px;
    }
    label {
      text-align: center;
      font-weight: bold;  

    }
    div {
      position: relative;
      padding-bottom: 20px;
    }
    input[type="text"] {
      padding: 5px;
      width: 150px;
    }
    p {
      
      position: relative;
      text-align: center;
      background: #FFC125;
      color: #5E2612;
      padding: 10px;
      visibility: hidden;
      border: 3px solid black;
    }